/Tailwind/node_modules
/Projects/nike-website/node_modules
/React 0 to 100/my-app/node_modules
/React 0 to 100/top-course-starter/node_modules
/Backend Dev/Lec1/node_modules
/Backend Dev/to-do-app/node_modules
/Backend Dev/Blogs App/node_modules