body{
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.899);
}
.container{
    border: 2px solid salmon;
    display: flex;
    background-color: rgba(156, 156, 156, 0.553);
}
.box{
    border: 2px solid seagreen;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.899);

}
#id1{
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#id2{
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#id3{
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#id4{
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media (min-width: 420px) {
}
@media (max-width: 420px) {
    .container{
        flex-direction: column;
    }

}