body{
    background-color: black;
    color: white;
    background-color: rgba(0, 0, 0, 0.899);
}
.container{
    border: 2px solid salmon;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column nowrap; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* align-items: stretch; */
    height: 500px;
    /* align-items: center;
    justify-content: center;
    align-content: space-around; */


}
.box{
    border: 2px solid brown;
    padding: 2px;
    margin: 2px;
    height: 200px;
    width: 200px;
    /* flex-direction: row;/ */
    display: flex;
}
#box1{
    background-color: aquamarine;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* order: -1;
    flex-grow: 1;
    flex-shrink: 1; */ 
    align-self: center;


}
#box2{
    background-color: aquamarine;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    order: 200px;
    /* flex-grow: 1;
    flex-shrink: 1; */
    align-self: center;

}
#box3{
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    /* flex-grow: 1;
    flex-shrink: 1; */
    align-self: center;
}
#box4{
    background-color: aquamarine;
    color: black;
    text-align: center;
    order:500;    
    /* flex-grow: 10; */
    /* flex-grow: 1; */
    flex-shrink: 10;
    align-items: center;
    justify-content: center;
    align-self: center;
}