@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    background: #222831;
    font-family: "Roboto Slab", serif;

}